$primary-color: #10b981;
$border-white: rgba(243, 244, 246, 1);
$pure-white: rgba(255, 255, 255, 1);
$left-width: 14%;
$right-width: 20%;
$middle-width: 66%;
$s-gap: 10px;
$m-gap: 15px;
$l-gap: 20px;
$font-color-gray: rgba(169, 169, 169, 0.5);