$page-background-color: #f7f7f7;

$max-page-width: 1000px;
$min-page-width: 700px;

$border-white: rgba(243, 244, 246, 1);
$pure-white: rgba(255, 255, 255, 1);
$left-width: 14%;
$right-width: 20%;
$middle-width: 66%;
$s-gap: 5px;
$m-gap: 10px;
$l-gap: 15px;
$font-color-gray: rgba(169, 169, 169, 0.5);
$left-bar-title-font-size: 12px;

$nav-width-proportion: 0.22;

$btn-width-6:6rem;

$nb-nav-hover-bk-color: rgba(2, 6, 23, 0.04);