::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body, html {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1400px;
  min-width: 800px;
  width:1080px;
  background-color: #f7f7f7;
}

.v-cen {
  display: flex;
  align-items: center;
}


.flex-hor-start {
  display:flex;
  justify-content: start;
  align-items:center;
  gap: 10px
}

.flex-hor-sb {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.flex-h-cen {
  display: flex;
  justify-content: center;
}

.h-cen {
  margin: 0 auto;
}


.main-ctr {
  max-width: 1000px;
  margin: 10px auto;
}


.ver-cen-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hor_cen_sb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-style {
  font-size: 22px;
  margin: 10px 0;
}

.title-style:hover {
  color: var(--primary-color);
}

.light-shadow-style {
  border: solid 0.5px #d9d9d9;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.main-cont-wd {
  margin: 25px auto;
  width: 70%;
}

.mg-btm-15 {
  margin: 0 0 15px 0;
}

.mg-btm-10 {
  margin-bottom: 10px;
}

.mg-right-10 {
  margin-right:10px;
}
.width-100 {
  width: 100%;
}

.card-border-radius {
  border-radius: 12px;
}

.f-width {
  width: 100%;
}

.left-bar-tag-stl {
  height: 16px;
  margin-right: 5px;
  border-radius: 4px;
}

.pointer-cursor:hover {
  cursor: pointer;
}