@import "variables";

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --btn-width-6: #{$btn-width-6};
}

body, html {
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 1080px;
  background-color: #f7f7f7;
}

.v-cen {
  display: flex;
  align-items: center;
}


.flex-hor-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-hor-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-ver-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flex-hor-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.son-gap-10 {
  gap: 10px;
}
.son-gap-20{
  gap:20px;
}



.flex-ver-gap-10 {
  display: flex;
  justify-content: space-between;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-h-cen {
  display: flex;
  justify-content: center;
}

.h-cen {
  margin: 0 auto;
}


.main-ctr {
  max-width: 1000px;
  margin: 10px auto;
}


.ver-cen-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hor_cen_sb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-style {
  font-size: 22px;
  margin: 10px 0;
}

.title-style:hover {
  color: var(--primary-color);
}

.light-shadow-style {
  border: solid 0.5px #d9d9d9;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.main-cont-wd {
  margin: 25px auto;
  width: 70%;
}

.mg-btm-15 {
  margin: 0 0 15px 0;
}

.mg-btm-10 {
  margin-bottom: 10px;
}

.mg-right-10 {
  margin-right: 10px;
}

.width-100 {
  width: 100%;
}

.card-border-radius {
  border-radius: 12px;
}

.f-width {
  width: 100%;
}

.left-bar-tag-stl {
  height: 16px;
  margin-right: 5px;
  border-radius: 4px;
}

.pointer-cursor:hover {
  cursor: pointer;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.img-item {
  display: flex;
  align-items: center;
}