body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ali-cen {
  display: flex;
  align-items: center;
}

.main-ctr {
  max-width: 1000px;
  margin: 10px auto;
}

.ver-cen-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
